@import url('https://fonts.googleapis.com/css?family=Secular+One&subset=hebrew');

*:focus {outline:0;}

body {
    background: #000;
}

button {
    width: 100px;
    font-family: 'Secular One', sans-serif;
    background: #fff;
    color: #000;
    font-size: 20px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 16px 0 rgba(42,62,82,0.20);
    transition: all 0.3s ease-out;
    cursor: pointer;
}
button:hover {
    box-shadow: 0 2px 20px 0 rgba(42,62,82,0.10);
    background: #FFF0C0;
    
}

.wrap {
    width: 100%;
    background: yellow;
}

.wrap__tile {
    transition: all 1s ease-out;
    top: 0px;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:1px solid #000;
    background: #fff;
}

.wrap__buttons {
    opacity: 0;
    text-align: center;
    transition: all 0.2s ease-out;
}

.wrap__curr .wrap__buttons {
    opacity: 1;
}

.wrap__tile.ng-enter {
    left: -50%;
    width: 50%;
}

.wrap__curr {
    left: 0%;
    width: 70%;
}
.wrap__curr--active {
    left: 0%;
    width: 100%;
}

.wrap__prev {
    left: 70%;
    width: 30%;
}

.wrap__hidden-back {
    left: 100%;
    width: 0%;
}

.wrap__halt {
    width:100%;
    left:0px;
    background: red;
}


/* tile titles */

/* curr tile */
.wrap__curr .name-title {
    font-family: 'Secular One', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(42,62,82,0.20);
}

.wrap__curr .age-title {
    font-family: 'Secular One', sans-serif;
    font-size: 0px;
    line-height: 0px;
    color: #fff;
}


/* prev tile */
.wrap__prev .name-title {
    font-family: 'Secular One', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(42,62,82,0.20);
}

.wrap__prev .age-title {
    font-family: 'Secular One', sans-serif;
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(42,62,82,0.20);
}


/* hiden tile */
.wrap__hidden-back .name-title {
    font-family: 'Secular One', sans-serif;
    font-size: 0px;
    line-height: 0px;
    color: #fff;
    text-shadow: none;
}

.wrap__hidden-back .age-title {
    font-family: 'Secular One', sans-serif;
    font-size: 0px;
    line-height: 0px;
    color: #fff;
    text-shadow: none;
}



/* winning state  */
.tile-verdict {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.tile-verdict--win {
    background: lime;
    
}

.tile-verdict--lose {
    background: red;
    
}
.tile-verdict.tile-verdict--visible { 
    opacity: 0.7;
}

.emoji-contain {
    position: relative;
}

.emoji-contain--reflect {
    transform: scaleX(-1);
}
.emoji-animate {
    position: absolute;
    animation: jump-right 1s infinite;
    font-size: 52px;
}

@keyframes jump-right {
    0% {
      top:0px;
      opacity: 1;  
      animation-timing-function: ease-out; 
      padding-left: 1px;
    }
    20% {
        top:-50px;  
      animation-timing-function: ease-in; 

    }
    70% {
opacity: 1;
    }
    100% {
        top:400px;
        opacity: 0;  
        padding-left: 300px;
      animation-timing-function: ease-out; 


    }
  }
/* Desktop */
@media only screen and (min-width: 700px) {

}